.skills-section {
  overflow: hidden;
  position: relative;
  background-color: #000 !important;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-flex;
  animation: scroll 25s linear infinite;
}

.skill-item {
  text-align: center;
  margin: 0 2vw;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.1);
}

.skill-icon {
  width: clamp(50px, 7vw, 100px);
  height: clamp(50px, 7vw, 100px);
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .marquee-content {
    animation: scroll 20s linear infinite;
  }

  .skill-item {
    margin: 0 4vw;
  }
}
