.sites-section {
  background: #000;
}

.Titulo-Sites {
  color: #fff;
}

.site-card {
  background: #111;
  border: 1px solid #333;
  color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-img-top {
  height: 160px;
  object-fit: cover;
}

.row::-webkit-scrollbar {
  height: 8px;
}
.row::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.site-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
