@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: sans-serif;
}

.custom-navbar {
  background-color: #000000 !important;
  font-family: 'Montserrat', sans-serif;
}

.custom-navbar .navbar-brand{
    color: #ffffff !important;
}

