#about {
  text-align: center;
}

.first-text {
  color: #0e0e0e;
  text-align: justify;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .div-aboutme {
    max-width: 95%;
    padding: 0.5rem 1.5rem; 
  }

  #about {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}